<%= link_to 'Show All Bills of this User', admin_payment_path(@user.id), class: 'btn btn-primary' %>

<h1> Currently Subscriped Plans: </h1>
<div class='list-group'>
  <% @subscriptions.each do |subscription| %>
    <div class='list-group-item'>
      <strong class='text-primary'>Subscription Name: </strong> <%= subscription.name %><br />
      <strong>Monthly Fee: </strong><%= subscription.plan.monthly_fee %>
      <% subscription.plan.feature_plans.each do |feature_plan| %>
        <div class='list-group-item mt-4'>
          <%= "Feature Name: #{feature_plan.feature.name}" %><br />
          <%= "Unit Price: #{feature_plan.feature.unit_price}" %>
          <% subscription_feature = get_subscription_feature(subscription.subscription_features, feature_plan.feature.id) %>
          <div class="d-flex p-2 bd-highlight">
            <p class="text-primary">Allocated Units: </p><%= feature_plan.allocated_units %>
            <% if subscription_feature %>
              <p class="text-primary ms-3">Consumed Units: </p><%= subscription_feature.consumed_units %>
            <% else %>
              <p class="text-primary ms-3">Consumed Units: </p>0
            <% end %>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Generate Bill', admin_payments_path(payment: { user_id: @user.id }), method: :create, class: 'btn btn-primary mt-2' %>
<%= link_to 'Back', admin_usage_index_path, class: 'btn btn-primary mt-2' %>
