<%= link_to 'Show All Bills of this User', admin_payment_path(@user.id), class: 'btn btn-primary my-3' %>

<h1> Currently Subscribed Plans: </h1>
<div class='list-group'>
  <% @subscriptions.each do |subscription| %>
    <div class='list-group-item'>
      <strong class='text-primary'>Subscription Name: </strong> <%= subscription.name %><br />
      <strong>Monthly Fee: </strong><%= subscription.plan.monthly_fee %>
      <% subscription.features_data.each do |data| %>
        <div class='list-group-item mt-4'>
          <%= "Feature Name: #{data[:feature_plan].feature.name}" %><br />
          <%= "Unit Price: #{data[:feature_plan].feature.unit_price}" %>
          <div class="d-flex p-2 bd-highlight">
            <p class="text-primary">Allocated Units: </p><%= data[:feature_plan].allocated_units %>
            <p class="text-primary ms-3">Consumed Units: </p><%= data[:subscription_feature].consumed_units %>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Generate Bill', admin_payments_path(payment: { user_id: @user.id }), method: :create, class: 'btn btn-primary mt-2' %>
<%= link_to 'Back', admin_usage_index_path, class: 'btn btn-primary mt-2' %>
