<%= link_to 'Show Pending Bills', buyer_bills_path, class: 'btn btn-primary my-3' %>

<div id= 'error-div' class='d-none'>
  <div class='alert alert-danger' role='alert'>
  </div>
</div>

<% if @subscriptions.present? %>
  <h1> Currently Subscribed Plans: </h1>
  <div class='list-group'>
    <% @subscriptions.each do |subscription| %>
      <div class='list-group-item'>
        <strong class='text-primary'>Subscription Name: </strong> <%= subscription.name %><br />
        <%= link_to 'Unsubscribe', buyer_subscription_path(subscription), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-right' %>
        <strong>Monthly Fee: </strong><%= subscription.plan.monthly_fee %>
        <% subscription.features_data.each do |data| %>
          <div class='list-group-item mt-4'>
            <%= "Feature Name: #{data[:feature_plan].feature.name}" %><br />
            <%= "Unit Price: #{data[:feature_plan].feature.unit_price}" %>
            <%= link_to 'Consume Unit', increment_consumed_buyer_subscription_features_path(subscription_id: subscription.id, feature_id: data[:feature_plan].feature.id), method: :patch, class: "list-group-item btn btn-primary float-right mx-3", remote: true %>
            <div class="d-flex p-2 bd-highlight">
              <p class="text-primary">Allocated Units: <%= data[:feature_plan].allocated_units %>
              <p class="text-primary ms-3">Consumed Units: </p>
              <div id='consume-<%=data[:feature_plan].feature.id%>-<%=subscription.id%>' >
                <%= data[:subscription_feature].consumed_units %>
              </div>
            </div>
            <div class='d-none message-<%=data[:feature_plan].feature.id%>-<%=subscription.id%>'>
              <div class='alert alert-success' role='alert'>
                Unit consumed for this feature!
              </div>
            </div>

          </div>
          <br />
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<h1> Available Plans to Choose From : </h1>
<div class="row">
  <% @plans.each do |plan| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= plan.name %> for $<%= plan.monthly_fee %></h5>
          <ul class="card-text">
            <% plan.features.each do |feature| %>
              <li><%= feature.name %></li>
            <% end %>
          </ul>
          <div><%= link_to 'Explore', buyer_plan_path(plan), class: 'btn btn-primary' %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
