<% unless @bills.blank? %>
  <h1> All Pending Bills for <%= current_user.email %></h1>
  <% @bills.each do |bill| %>
    <%= "Total: $#{bill.total}" %><br />
    <%= "Generated at: #{bill.created_at}" %><br />
    <%= "Status: #{bill.status}" %><br />
     <%= link_to 'Pay bill', pay_bill_buyer_bill_path(bill), method: :patch, class: "btn btn-primary" %><br />
    <%=  "====================" %><br /><br />
  <% end %>
<% else %>
  <h1> No Bill available yet</h1>
<% end %>
