<div class='nested-fields'>
<form>
  <div class="field">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :code, class: "form-label" %>
    <%= f.text_field :code, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :max_unit_limit %>
    <%= f.text_field :max_unit_limit %>
  </div>
  <%= link_to_remove_association "Remove feature", f, class: "btn btn-danger" %>
</form>
</div>
