<p id="notice"><%= notice %></p>

<ul class='list-group'>
  <li class='list-group-item'>
    <strong class='text-primary'>Plan name: </strong> <%= @plan.name %></li>
  <li class='list-group-item'><strong class='text-primary'>Monthly Fee </strong> <%= @plan.monthly_fee %></li>
  <li class='list-group-item'><strong class='text-primary'>User ID:</strong> <%= @plan.user_id %></li>
  <li class='list-group-item'><%= render @plan.features %></li>
</ul>
</br>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', root_path %>
